<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.UserMapper">

    <insert id="register" parameterType="com.example.demo.Model.UserModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        Insert into testdb.userboard (username, password,email, enabled)
        value( #{username}, #{password}, #{email}, #{enabled} )
    </insert>

    <insert id="insertUserRole" >
        Insert into testdb.user_role (user_id, role_id)
        value( #{id}, 1 )
    </insert>

    <insert id="randomInsert">
        Insert into testdb.authentication (randomNum)
        value( #{randomNum})
    </insert>

    <delete id="authenticationTruncate">
        TRUNCATE testdb.authentication
    </delete>



</mapper>
